.star-large {
    width: 30px;
    height: 30px;
}

.alcoholic-class {
    background-color: #597fb8;
    color: white;
}
.non-alcoholic-class {
    background-color: #86bd86;
    color: white;
}
.alcohol-label {
    border-radius: 7px;
    padding: 0px 8px;
}
.cocktail-card {
    max-width: 100%;
    background-color: transparent;
    border: none;
}